.popup__form {
    width: 430px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); /* Для Firefox*/
    -ms-transform: translate(-50%, -50%); /* Для IE */
    -webkit-transform: translate(-50%, -50%); /* Для Safari, Chrome, iOS */
    -o-transform: translate(-50%, -50%); /* Для Opera */
}

@media screen and (max-width: 540px) {
  .popup__form {
      width: 282px;
  }
}