.profile__add-button {
    width: 146px;
    height: 46px;
    padding: 0;
    border: 2px solid #ffffff;
    margin: auto 0 auto auto;
    cursor: pointer;
    background-color: #000;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition : all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

@media screen and (max-width: 660px) {
    .profile__add-button {
        width: 282px;
        margin: 0 auto;
    }
}
