.header__logo {
    max-width: 142px;
    height: 33px;
    margin: 0 auto 41px 0;
    cursor: pointer;
}

.header__logo:hover {
    opacity: 0.6;
    transition : all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

@media screen and (max-width: 390px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 103px;
        height: 24px;
        margin-bottom: 32px;
    }
}