.cards__btn-remove {
    height: 19px;
    width: 18px;
    padding: 0;
    top: 18px;
    right: 15px;
    border-radius: 0px;
    background-image: url(../../../images/trash.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}

.cards__btn-remove:hover {
    opacity: 0.6;
    transition : all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
}